{
    "discordToken": "",
    "cmdPrefix": "!",
    "notificationChannelId": "",
    "roleToPing": "none",
    "twitchClientId": "",
    "twitchToken": "",
    "watchedUserId": "all",
    "logChannel": "",
    "logLevel": "3",
    "botOwnerID": ""
}