{
    "discordToken": "",
    "discordClientId": "",
    "activity": "I am error",
    "notificationChannelId": "",
    "roleToPing": "none",
    "twitchClientId": "",
    "twitchToken": "",
    "watchedUserId": "",    
    "logChannel": "",
    "logLevel": "3",
    "botOwnerID": "",
    "checkTwitchClips": false,
    "clipsCheckTime": 60,
    "guildSettingsDir":"c:\\sipa\\guildSettings\\",
    "clipsListDir":"c:\\sipa\\clipsList\\",
    "testGuildId":""
}